body {
    background-color: #fbfffa;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif';
}

p, li, a {
    font-family: 'Noto Sans';
}

.highlight {
    overflow-x: scroll;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#c9d4c5;
    height: 1px;
}

.container {
    text-align: center;
}

.article-backlinks {
    text-align: left;
}

.internal-link {
    color:green;
    text-decoration: underline;
}

.internal-link:hover {
    color:greenyellow;
    text-decoration: underline;
}

a, .external-link {
    color:blue;
    text-decoration: underline;
}

a:hover, .external-link:hover {
    color:purple;
    text-decoration: underline;
}

.article-content {
    width: 100%;
    text-align: left;
}

img, iframe {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    padding: 15px;
    margin-top: 0;
    display: inline-grid;
    text-align: left;
}
  
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9, .highlight, .highlighter-rouge, .language-plaintext {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 .highlight, .highlighter-rouge, .language-plaintext {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.site-header {
    float: top;
    padding-left: 5px;
    padding-bottom: 2px;
    margin: 0px;
    text-align: left;
}

.tippy-box[data-theme~='light-border'] {
    background-color:#fbfffa;
    color: black;
    overflow-y: scroll;
    padding: 5px;
    display: -webkit-box;
    max-height: 500px;
    -webkit-line-clamp: 20;
    -webkit-box-orient: vertical;
}