---
layout: default
---
<article class="page">
    <div class="container">
        <div class="col-8 col-m-7 col-s-12 article-content">
            <div class="article-component">
                {% if page.title != "Home" and page.title != "Subscribe" %}
                <h1>{{ page.title }}</h1>
                {% endif %}
                {% if page.publication_date and page.last_updated %}
                <hr>
                <em>Originally published {{ page.publication_date }}; last updated {{ page.last_updated }}</em>
                <hr>
                {% elsif page.publication_date %}
                <hr>
                <em>Published {{ page.publication_date }}</em>
                <hr>
                {% elsif page.last_updated %}
                <hr>
                <em>Last updated {{ page.last_updated }}</em>
                <hr>
                {% endif %}
                {{ content }}
            </div>
        </div>
        <div class="col-4 col-m-5 col-s-12 article-backlinks">
            <div class="article-component">
                {% if page.backlinks %}
                <h1>Pages that link to this page</h1>
                {{ page.backlinks }}
                {% endif %}
            </div>
        </div>
    </div>
    {% include footer.html %}
    {% include analytics.html %}
</article>